<div class="container mt-4">
  <!-- Search and Sort Controls -->
  <div class="d-flex justify-content-between align-items-center mb-3">
    <!-- Search Input -->
    <div class="input-group w-50">
      <input
        type="text"
        class="form-control"
        placeholder="Tìm kiếm đơn hàng..."
        [(ngModel)]="keyword"
        name="keyword"
        (input)="onKeywordChange()"
      />
    </div>
    <!-- Category Dropdown -->
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="sortDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
      {{ selectedCategory }}
      </button>
      <ul class="dropdown-menu" aria-labelledby="sortDropdown">
        <li *ngFor="let category of categories" [value]="category.id">
          <a class="dropdown-item" (click)="onCategoryChange(category.id)">{{
            category.name
          }}</a>
        </li>
      </ul>
    </div>
    <!-- Sort Dropdown -->
    <div class="dropdown">
      <button
        class="btn btn-secondary dropdown-toggle"
        type="button"
        id="sortDropdown"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        Sắp xếp theo
      </button>
      <ul class="dropdown-menu" aria-labelledby="sortDropdown">
        <li>
          <a class="dropdown-item" (click)="onSortChange('id', 'asc')"
            >ID tăng dần</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="onSortChange('id', 'dsc')"
            >ID giảm dần</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="onSortChange('name', 'asc')"
            >Tên a - z</a
          >
        </li>
        <li>
          <a class="dropdown-item" (click)="onSortChange('name', 'dsc')"
            >Tên z - a</a
          >
        </li>
      </ul>
    </div>
  </div>

  <div>
    <button class="btn-create" (click)="openCreateModal()">Thêm</button>
  </div>
  <!-- Modal thêm Category -->
  <div
    class="modal fade"
    id="createProductModal"
    tabindex="-1"
    aria-labelledby="createProductModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="createCategoryModalLabel">
            Thêm sản phẩm
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="createCategory()" [formGroup]="createProductForm">
            <div class="mb-3">
              <label for="product_name" class="form-label">Tên Sản Phẩm</label>
              <input
                type="text"
                class="form-control"
                id="product_name"
                formControlName="product_name"
                required
              />
            </div>
            <div
              *ngIf="
                createProductForm.get('product_name')!.invalid &&
                createProductForm.get('product_name')!.touched
              "
              class="text-danger"
            >
              Không được để trống
            </div>
            <div class="mb-3">
              <label for="price" class="form-label">Giá Sản Phẩm</label>
              <input
                type="text"
                class="form-control"
                id="price"
                formControlName="price"
                required
              />
            </div>
            <div
              *ngIf="
                createProductForm.get('price')!.invalid &&
                createProductForm.get('price')!.touched
              "
              class="text-danger"
            >
              Không được để trống và chỉ là số
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Mô Tả Sản Phẩm</label>
              <input
                type="text"
                class="form-control"
                id="description"
                formControlName="description"
                required
              />
            </div>
            <div class="mb-3">
              <label for="category_id" class="form-label"
                >Danh Mục Sản Phẩm</label
              >
              <select
                class="form-select"
                id="category_id"
                formControlName="category_id"
                required
              >
                <option
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>
            <div
              *ngIf="
                createProductForm.get('category_id')!.invalid &&
                createProductForm.get('category_id')!.touched
              "
              class="text-danger"
            >
              Không được để trống
            </div>
            <button type="submit" class="btn btn-primary">Thêm</button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Products Table -->
  <div class="table-container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Tên Sản Phẩm</th>
          <th scope="col">Ảnh</th>
          <th scope="col">Đơn Giá</th>
          <th scope="col">Mô Tả</th>
          <th scope="col">Danh Mục</th>
          <th scope="col">Hành Động</th>
          <!-- Cột mới cho nút -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.id }}</td>
          <td>{{ product.product_name }}</td>
          <td>
            <img
              [src]="product.thumbnail"
              alt="{{ product.product_name }}"
              width="50"
            />
          </td>
          <td>{{ product.price }}</td>
          <td>
            <span>{{ truncateText(product.description, 50) }}</span>
          </td>
          <td>{{ product.category_name }}</td>
          <td>
            <button class="btn btn-info btn-sm" (click)="openModal(product.id)">
              Xem
            </button>
            <button
              class="btn btn-info btn-sm"
              (click)="openImageModal(product.id)"
            >
              Quản lý ảnh
            </button>
            <button
              class="btn btn-warning btn-sm"
              (click)="openEditModal(product.id)"
            >
              Sửa
            </button>
            <button
              class="btn btn-danger btn-sm"
              (click)="deleteProduct(product.id)"
            >
              Xóa
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- ModalView -->
  <div
    class="modal fade"
    id="productModal"
    tabindex="-1"
    aria-labelledby="exampleModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Chi tiết đơn hàng</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <p><strong>ID:</strong> {{ selectedProduct?.id }}</p>
          <p>
            <strong>Tên sản phẩm:</strong> {{ selectedProduct?.product_name }}
          </p>
          <p><strong>Đơn giá:</strong> {{ selectedProduct?.price }}</p>
          <p><strong>Mô tả sản phẩm:</strong></p>
          <textarea
            name="description"
            id="description-view"
            rows="10"
            style="
              text-align: left;
              vertical-align: top;
              white-space: normal;
              overflow: visible;
              height: 150px;
              width: 100%;
              padding: 10px;
              box-sizing: border-box;
            "
            readonly
            >{{ selectedProduct?.description }}</textarea
          >
          <p>
            <strong>Danh mục:</strong>
            {{ selectedProduct?.category_name }}
          </p>
          <p>
            <strong>Ảnh:</strong>
          </p>
          <img
            [src]="selectedProduct?.thumbnail"
            alt="{{ selectedProduct?.product_name }}"
            width="150"
          />
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Sửa Product -->
  <div
    class="modal fade"
    id="editProductModal"
    tabindex="-1"
    aria-labelledby="editProductModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editProductModalLabel">Sửa Sản Phẩm</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateProduct()" [formGroup]="editProductForm">
            <div class="mb-3">
              <label for="product_name" class="form-label">Tên Sản Phẩm</label>
              <input
                type="text"
                class="form-control"
                id="product_name"
                formControlName="product_name"
                required
              />
            </div>

            <div class="mb-3">
              <label for="price" class="form-label">Đơn Giá</label>
              <input
                type="text"
                class="form-control"
                id="price"
                formControlName="price"
                required
              />
            </div>

            <div class="mb-3">
              <label for="description" class="form-label">Mô tả</label>
              <textarea
                class="form-control"
                id="description"
                formControlName="description"
                rows="5"
                required
              ></textarea>
            </div>

            <div class="mb-3">
              <label for="category_id" class="form-label">Danh Mục</label>
              <select
                class="form-select"
                id="category_id"
                formControlName="category_id"
                required
              >
                <option
                  *ngFor="let category of categories"
                  [value]="category.id"
                >
                  {{ category.name }}
                </option>
              </select>
            </div>

            <button type="submit" class="btn btn-primary">Cập nhật</button>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Đóng
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Xem Ảnh -->
  <div
    class="modal fade"
    id="imageModal"
    tabindex="-1"
    aria-labelledby="imageModalLabel"
    aria-hidden="true"
>
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Quản Lý Ảnh Sản Phẩm</h5>
                <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                ></button>
            </div>
            <div class="modal-body">
                <!-- Hiển thị ảnh thumbnail -->
                <div class="thumbnail-section mb-4">
                    <h6>Ảnh Thumbnail:</h6>
                    <img
                        [src]="selectedProduct?.thumbnail"
                        alt="Thumbnail"
                        class="img-fluid thumbnail-img"
                    />
                </div>

                <!-- Danh sách ảnh sản phẩm -->
                <div class="image-gallery mb-4">
                    <h6>Ảnh Sản Phẩm:</h6>
                    <div id="image-gallery" class="row">
                        <div
                            class="col-md-3 mb-3"
                            *ngFor="let image of selectedProduct?.product_images"
                        >
                            <div class="card">
                                <img
                                    [src]="image.image_url"
                                    class="card-img-top"
                                    alt="Product Image"
                                />
                                <div class="card-body text-center">
                                    <button class="btn btn-danger btn-sm" (click)="removeImage(image)">
                                        Xóa
                                    </button>
                                    <button
                                        class="btn btn-primary btn-sm mt-2"
                                        (click)="selectThumbnail(image.image_url)"
                                    >
                                        Chọn làm Thumbnail
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Thêm ảnh -->
                <div class="upload-section mb-3">
                    <input type="file" (change)="onFileSelect($event)" multiple class="form-control-file" />
                </div>
            </div>
            <div class="modal-footer">
                <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                >
                    Đóng
                </button>
            </div>
        </div>
    </div>
</div>


  <!-- Pagination -->
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item" *ngIf="currentPage > 0">
        <a
          class="page-link"
          href="#"
          aria-label="Previous"
          (click)="onPageChange(0)"
        >
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      <ng-container *ngFor="let page of visiblePages">
        <li class="page-item" [ngClass]="{ active: page === currentPage + 1 }">
          <a class="page-link" (click)="onPageChange(page - 1)">{{ page }}</a>
        </li>
      </ng-container>
      <li class="page-item" *ngIf="currentPage < totalPages - 1">
        <a
          class="page-link"
          aria-label="Next"
          (click)="onPageChange(totalPages - 1)"
        >
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only">Next</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
